
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(218, 218, 218);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    background-color: green;
    color: white;
    border-radius: 12px;
}